/target
/logs
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/profiles.clj
/dev/resources/local.edn
/dev/src/local.clj
/db/dev.sqlite
/resources/film_ratings/public
*~
/.shadow-cljs/
/node_modules/
/.dir-locals.el
