{:duct.profile/base
 {:duct.core/project-ns film-ratings
  :duct.handler/root {:middleware [#ig/ref :film-ratings.handler.middleware/anti-forgery-field]}
  :duct.router/ataraxy
  {:routes
   {[:get "/"] [:film-ratings.handler.index/index]
    ;; [:get "/"] ^:anti-forgery-token [:film-ratings.handler.index/index]
    [:get  "/add-film"]  [:film-ratings.handler.film/show-create]
    [:post "/add-film" {film-form :form-params}]
    [:film-ratings.handler.film/create film-form]
    ;;    [:post "/edit-film/" id] [:film-ratings.handler.film/edit ^int id]
    [:delete "/film/" name] [:film-ratings.handler.film/destroy name]
    [:get "/list-films"]  [:film-ratings.handler.film/list]}
   ;; :middleware {:anti-forgery-token
   ;;              #ig/ref :film-ratings.handler.middleware/anti-forgery-field}
   }

  :film-ratings.handler.middleware/anti-forgery-field {}
  :film-ratings.handler.index/index  {}
  :film-ratings.handler.film/show-create {}
  :film-ratings.handler.film/create {:db #ig/ref :duct.database/sql}
  :film-ratings.handler.film/list {:db #ig/ref :duct.database/sql}
  ;; :film-ratings.handler.film/edit-film {:db #ig/ref :duct.database/sql}
  :film-ratings.handler.film/destroy {:db #ig/ref :duct.database/sql}

  :duct.migrator/ragtime
  {:migrations [#ig/ref :film-ratings.migrations/create-film]}

  [:duct.migrator.ragtime/sql :film-ratings.migrations/create-film]
  {:up ["CREATE TABLE film (id SERIAL PRIMARY KEY, name TEXT UNIQUE,
  description TEXT, rating INTEGER)"]
   :down ["DROP TABLE film"]
   }
  ;; Disable anti-forgery check for testing from command line httpie
  ;; :duct.middleware.web/defaults {:security {:anti-forgery false}}
  ;; :duct.middleware.web/defaults {:static {:resources ["film_ratings/resources/film_ratings/public"]}}
  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  #duct/include "prod"

 :duct.module/logging {}

 ;; :duct.module.web/api {}
 :duct.module.web/site {}

 :duct.module/sql {}

 }
